COMPOSE_FILE='openai-forward.yml,caddy.yml'
COMPOSE_PATH_SEPARATOR=','

# Basic services

## Images
CADDY_IMAGE=lucaslorentz/caddy-docker-proxy:latest-alpine

CADDY_INGRESS_NETWORKS=caddy
CADDY_VOLUME=/opt/services/caddy-data

OPENAI_FORWADR_HOSTNAME=llm.buffyexpress.com